torch
torchvision
timm
rasterio
einops
huggingface_hub
terratorch
albumentations==1.4.10
tqdm
fastapi
gunicorn
uvicorn[gunicorn]
sagemaker-training
morecantile
opencv-python
rio-cogeo
shapely
joblib
boto3
geojson
scikit-image
Pillow==9.4.0
numpy
pydantic
starlette
